
:root {
  --accent: #f06723;
  --accent-opaque: #f0672319;
  --dark: #333;
  --dark-background: rgba(0,0,0,0.8);
  --radius: 5px;
  --lightgrey: #f7f7f7;
  --lightgrey: white;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: block;
	margin: 0;
	color: var(--dark);
	font-family: -apple-system,"Arial",sans-serif;
	font-weight: lighter;
	line-height: 130%;
	background: var(--lightgrey);
}

a {
	color: unset;
	text-decoration: unset;
}

h1 {
	margin: 10px 0;
	line-height: 1.1em;
}

strong {
	font-weight: 800;
}



.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader {
	margin: 0px auto 50px;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: solid var(--accent-opaque);
	border-right: solid var(--accent-opaque);
	border-bottom: solid var(--accent-opaque);
	border-left: solid var(--accent);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: spinner 1.2s infinite linear;
	animation: spinner 1.2s infinite linear;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}



@media only screen and (max-width: 775px) {

    #header .nav-bar {
        display: none !important;
    }

    #header .nav-menu {
    	display: inline-block !important;
    }

    #content {
    	margin-top: 50px !important;
    }

    #footer .contact-info {
    	clear: both;
    }

    #footer .footer-logo-container {
    	float: left !important;
    }

    #content .padded-container {
		margin: 10px !important;
	}

    #content .floating-container-content {
		width: 100% !important;
	}

	#content .gallery-controls {
		bottom: -50px !important;
		width: fit-content;
		margin: auto;
	}

	#content .profile {
		display: block !important;
		text-align: center;
		width: 100%;
		max-width: 100% !important;
		margin: 0 0 20px 0 !important;
	}

	#content .profile-picture {
		width: 50vw !important;
		height: 50vw !important;
	}

	#content .profile-text {
		padding: 10px 0 0 !important;
	}

	#content .content-section {
		padding: 10px !important;
		margin: 10px !important;
	}

	#content .content-section h1 {
		text-align: center;
	}

	#content .scopus-image {
		margin: 0 auto !important;
		height: auto !important;
	}

	#content .publication img {
		display: none !important;
	}

	#content #publications .pub-section {
		min-width: 100% !important;
		margin: 15px 0 !important;
	}

	#content #publications .publication-title {
		color: rgb(25, 164, 232);
	}

	#content #publications h2 {
		text-align: left !important;
		padding-left: 25px;
	}

	#content #publications a {
		margin: 20px 10px;
	}

	#content #positions .opportunity-wrapper {
		text-align: center;
	}

	#content #positions .opportunity-image {
		display: block !important;
		max-width: none !important;
		max-height: 200px;
		min-width: 100% !important;
		object-fit: contain;
		border-right: none !important;
		border-bottom: 1px solid lightgrey;
	}

	#content #positions .opportunity-description {
		display: inline-block;
		width: 60%;
		vertical-align: top;
		padding: 20px;
	}

}

#header {
	height: 50px;
	top: 0;
	width: 100%;
	position: fixed;
	background: rgba(45,45,45,0.98);
	user-select: none;
	-webkit-user-select: none;
	text-align: center;
	z-index: 10;
	font-weight: lighter;

	transition: all 0.4s;

	background: var(--dark-background);
	color: white !important;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);

	display: flex;
	justify-content: center;

}

@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
    #header {
        background: rgba(0, 0, 0, 0.8) !important;
        -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
        backdrop-filter: saturate(180%) blur(20px)
    }

    #content .floating-container:hover .floating-container-hovered {
		-webkit-backdrop-filter: blur(100px) !important;
		backdrop-filter: blur(100px) !important;
		background: rgba(0,0,0,0.3) !important;
	}

	#header .nav-menu:focus-within .nav-menu-list-wrapper {
		background: rgba(0,0,0,0.8) !important;

	}

	#header .nav-menu-list-wrapper {
		-webkit-backdrop-filter: saturate(180%) blur(20px) !important;
		backdrop-filter: saturate(180%) blur(20px) !important;

	}

}


#header:after {
    height:100%;
    content:'';
    font-size:0;
    vertical-align:middle;
    display:inline-block;
}

#header.scrolling {
	height: 50px;
}

#header .nav-logo {
	background-image: url(../img/logos/logo-light.png) !important;
}

#header .nav-menu-icon-bar {
	background: white !important;
}

#header .nav-logo-container {
	padding: 15px 25px;
	vertical-align: middle;
	display: inline-block;
	transition: opacity 0.5s;
}

#header .nav-logo {
	height: 18px;
	width: 66px;
	vertical-align: middle;
	background: url(../img/logos/logo.png) no-repeat;
	background-size: contain;

	transition: background-image 0.5s;
}

#header .nav-bar {
	display: inline-block;
	display: inline-flex;
	align-items: center;
	flex: 1;
	max-width: 900px;
}

#header .nav-menu {
	display: none;
	position: absolute;
	left: 0;
	padding-left: 15px;
	cursor: pointer;
}

#header .nav-bar, #header .nav-menu {
	height: 100%;
	vertical-align: middle;
}

#header .nav-bar:after, #header .nav-menu:after {
    height:100%;
    content:'';
    font-size:0;
    vertical-align:middle;
    display:inline-block;
}

#header .nav-item-container {
	transition: opacity 0.5s;
	flex: 1;
}

#header .nav-item-container.active {
	opacity: 0.5;
}

#header .nav-bar .nav-item-container {
	display: inline-block;
	padding: 7px;
	font-size: 0.9em;
	margin: 5px;
}

#header .nav-item-container:hover, #header .nav-logo-container:hover {
	opacity: 0.5;
}

#header .nav-menu-icon {
	display: inline-block;
	cursor: pointer;
	outline: none;
	padding: 5px;
	margin: 7px 0px;
	vertical-align: middle;
}

#header .nav-menu:focus-within .nav-menu-icon{
	pointer-events: none;
}

#header .nav-menu-icon-bar {
	height: 1px;
	width: 25px;
	margin: 5px;
	background: var(--dark);
	position: relative;
	bottom: 0;

	transition: bottom 0.25s linear 0.25s, transform 0.25s linear, opacity 0s linear 0.25s;
}

#header .nav-menu:focus-within .nav-menu-icon-bar {
	transition: bottom 0.25s linear, transform 0.25s linear 0.25s, opacity 0s linear 0.25s;
}

#header .nav-menu:focus-within .nav-menu-icon-bar.middle {
	opacity: 0;
}

#header .nav-menu:focus-within .nav-menu-icon-bar.top {
	bottom: -6px;
	transform: rotate(45deg);
}

#header .nav-menu:focus-within .nav-menu-icon-bar.bottom {
	bottom: 6px;
	transform: rotate(-45deg);
}

#header .nav-menu .nav-menu-list-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	cursor: default;
	padding-top: 50px;
	overflow: hidden;
	outline: none;
	z-index: -1;
	text-align: left;
	padding-left: 15px;
	background: transparent;

	transition: height 0.75s, background 0.5s 0.4s;
}

#header .nav-menu:focus-within .nav-menu-list-wrapper {
	background: rgb(45,45,45);
	top: 0;
	height: 100%;
	transition: height 0.75s, background 0.1s;
}

#header .nav-menu .nav-menu-list {
	opacity: 0;
	transition: opacity 0.75s;
}

#header .nav-menu:focus-within .nav-menu-list {
	opacity: 1;
}

#header .nav-menu .nav-item-container {
	display: block;
	padding: 10px;
	border-bottom: 2px solid transparent;
	font-size: 0.9em;
	margin: 5px;
}

#modal {
	display: none;
	position: fixed;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	color: var(--dark);
	align-items: center;
	justify-content: center;
	text-align: left;

	animation: modal-appear 0.3s;
}

@keyframes modal-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#modal .modal-wrapper {
	min-width: 200px;
	min-height: 100px;
	max-width: 900px;
	max-height: 90%;
	background: white;
	border-radius: var(--radius);
	vertical-align: middle;
	position: relative;
	padding: 25px;
	margin: 25px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	animation: modal-content-appear 0.3s;

}

#modal .modal-content {
	user-select: auto;
	-webkit-user-select: auto;

}

#modal .modal-content h4 {
	margin-bottom: 0px;

}

@keyframes modal-content-appear {
	0% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}


#modal .modal-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 1.4em;
}

[onclick] {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}


#content {
	min-height: 50vh;
	max-width: 1250px;
	margin: 70px auto;

}

#content .home-title {
	text-align: center;
}

#content .contact-hours-container {
	text-align: center;
	margin: 20px;
}

#content .contact-hours {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

#content .gallery {
	width: 100%;
	min-height: 350px;
	height: 40vh;
	max-height: 750px;
	margin: 20px 0px;

	position: relative;
}

#content .gallery-controls {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 40%;
	z-index: 1;
	font-size: 1em;
	font-weight: bold;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white;

}

#content .gallery-control {
	display: inline-block;
	padding: 20px;
	color: var(--dark-background);
	font-size: 3em;
	font-weight: 100;
	border-radius: 100%;
	pointer-events: auto;
	cursor: pointer;
}

#content .gallery-control.left {
	float: left;
}

#content .gallery-control.right {
	float: right;
}

#content .gallery-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0;
	pointer-events: none;

	position: absolute;
	top: 0;

	transition: opacity 1s, top 0s 2s;
}

#content .gallery-image.active {
	opacity: 1;
	pointer-events: all;
	top: 5px;
	z-index: 1;

	transition: opacity 2s;

}

#content .adml-overview {
	margin: 20px;
	padding: 10px;
	background: white;
}

#content .mission-statement {
	margin: 20px;
	padding: 10px;
	text-align: center;
}

#content .projects-snapshot {
	display: flex;
	flex-wrap: wrap;
}

#content .projects-snapshot a {
	margin: 10px;
	flex: 1 0 300px;
}

#content .projects-snapshot .floating-container {
	background-position: center center !important;
	height: 200px !important;
	color: white;
	text-align: center;
	display: flex;
}

#content .projects-snapshot .floating-container .floating-container-content {
	width: 100% !important;
	padding: 10px !important;
	text-shadow: 0 0 50px var(--dark), 0 0 10px var(--dark), 0 0 5px var(--dark);
}

#content .padded-container {
	margin: 20px;
}

#content .projects {
	display: flex;
	flex-wrap: wrap;
}

#content .project {
	border-radius: 20px;
	border: 1px solid lightgrey;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	flex: 1 1 350px;
	transition: all 0.4s;
}

#content .modal-content {
	display: none;
}

#content .image-heading {
	position: relative;
	text-align: left;
	color: white;
	filter: saturate(0.75);
	min-height: 200px;
}

#content .image-heading.intralattice h1 {
	text-shadow: none;
}

#content .image-heading h1 {
	padding: 20px;
	margin: 0;
	text-shadow: 2px 2px 10px var(--dark-background);
	position: absolute;
	bottom: 0;
}

#content .image-body {
	margin: 20px;
}

#content .floating-container {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	border-radius: 20px;

	transition: all 0.4s;
}


#content .floating-container iframe {
	height: 400px;
}


#content .floating-container:hover {
	transform: scale(1.01);
	box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
}

#content .floating-container-hovered {
	opacity: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px;

	transition: all 0.4s;
}

#content .floating-container-hovered > * {
	width: 100%;
	flex: none;
	margin-bottom: 20px;
}

#content .floating-container:hover .floating-container-hovered {
	background: rgba(45,45,45,0.98);
	opacity: 1;
}

#content .floating-container-content {
	width: 50%;
	padding: 10px 50px;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

#content .weak {
	font-weight: 100;
}

#content .intralattice {
	background: url(../img/research/intralattice.jpg) no-repeat right center;
	background-size: cover;
	justify-content: flex-end;
	color: #D9534F;
}

#content .technologies {
	background: url(../img/research/technologies.jpg) no-repeat right center;
	background-size: cover;
	justify-content: flex-end;
}

#content .informatics {
	background: url(../img/research/informatics.jpg) no-repeat right center;
	background-size: cover;
	justify-content: flex-start;
}

#content .sustainability {
	background: url(../img/research/sustainability.jpg) no-repeat left bottom;
	background-size: cover;
	/*background: linear-gradient(-30deg, white, green);*/
	justify-content: flex-end;
}

#content .floating-container-inner {
	padding: 20px;
}

#content .alternating-background:nth-child(even) {
	background: #f7f7f7;
	text-align: right;
}

#content .alternating-background {
	padding: 50px;
}


#content .content-section {
	margin: 20px;
	padding: 10px 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

#content .content-section h1 {
	flex-basis: 100%;
}


#content .profile, #content .equalizer {
	display: flex;
	align-items: center;
	margin: 10px;
	padding: 25px 20px 55px;
	min-width: 48%;
	transition: all 0.4s;
	flex: 1 1 300px;
	position: relative;
	border-radius: 20px;
}

#content .profile:hover, #content .publication:hover, #content .project:hover {
	transform: scale(1.01);
	background: white;
	box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
}

#content .profile-text {
	padding-left: 30px;
	padding-right: 10px;
	flex: 1 1 400px;
}


#content .profile-title {
	font-weight: bold;
	margin-bottom: 10px;
}

#content .profile-name {
	margin-right: 10px;
}

#content .profile-type {
	font-size: 0.8em;
	color: rgba(0,0,0,0.3);
}

#content .profile-contact-info {
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 0;

	user-select: none;
	-webkit-user-select: none;

	transition: opacity 0.4s;
}

#content .profile:hover .profile-contact-info {
	opacity: 1;
}

#content .profile-contact {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
	opacity: 0.5;
	filter: saturate(0);
	height: 35px;
	vertical-align: bottom;

	transition: all 0.4s;
}

#content .profile-contact:hover {
	filter: saturate(1);
	opacity: 1;
}

#content .profile-contact a {
	pointer-events: all;
}

#content .profile-contact img {
	height: 100%;
}

#content img.profile-picture {
	width: 10vw;
	height: 10vw;
	display: none;
	object-fit: cover;
	border-radius: 100%;
	overflow: hidden;
	max-width: 175px;
	max-height: 175px;
	min-width: 150px;
	min-height: 150px;
	flex: 0 0 auto;
	box-shadow: 0 2px 15px lightgrey;
}

#content .floorplan {
	text-align: center;
}


#content .floorplan img {
	max-width: 1000px;
	max-height: 500px;
	object-fit: contain;
}

#content #sponsors .sponsor-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#content #sponsors .sponsor {
	max-width: 500px;
	margin: 10px;
	flex: 1;
	padding: 10px;
}

#content #sponsors .sponsor img {
	width: 100%;
	min-width: 300px;
	max-height: 100px;
	object-fit: contain;

}

#content #positions .opportunity-wrapper {
	border-radius: 20px;
	border: 1px solid lightgrey;
	overflow: hidden;
	justify-content: left;
	margin: 20px 0;
}

#content #positions .opportunity-image {
	display: inline-block;
	width: 40%;
	height: 100%;
	max-width: 300px;
	vertical-align: top;
	padding: 20px;
	border-right: 1px solid lightgrey;
}

#content #positions .opportunity-description {
	display: inline-block;
	width: 60%;
	vertical-align: top;
	padding: 20px;
	flex-grow: 1;
}

#content #publications {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#content #publications h2 {
	text-align: center;
}


#content #publications .pub-section{
	flex: 1 1 30%;
	border: 1px solid lightgrey;
	margin: 10px;
	border-radius: 10px;
}

#content .scopus-image {
	margin: -38px 0 0 auto;
	height: 0;
}

#content .publication {
	display: flex;
	margin: 20px;
	padding: 20px;
	transition: all 0.4s;
	border-radius: 20px;
}

#content .publication img {
	width: 80px;
	margin-right: 15px;
	display: none;
}

#content .publication .publication-title {
	font-weight: bold;
	margin-bottom: 5px;
}

#content .publication .publication-name {
	margin-bottom: 5px;
}

#content .loadmore {
	text-align: center;
	padding: 10px;
	cursor: pointer;
	background: var(--accent);
	margin: 0 20px;
	font-weight: bold;
	color: white;
	border-radius: var(--radius);
	margin-bottom: 20px;
}


#content .rotating-carousel img {

}

#content .journals {
	text-align: center;
	width: 100%;
}

#content .journals a {
	padding: 10px;
	margin: 3px 6px;
	white-space: nowrap;
	display: inline-block;
	transition: all 0.1s;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#content .journals a:hover {
	transform: scale(1.05);
	-webkit-text-stroke: 0.5px #333;
}

#content #people-section .placeholder-message {
	text-align: center;
	margin: 30%;
}




#footer {
	background: #f7f7f7;
	borer-top: 1px solid lightgrey;
	padding: 50px 10%;
}

#footer .contact-info {
	line-height: 1.4em;
	font-size: 0.8em;
}

#footer .footer-logo-container {
	float: right;
	margin-bottom: 30px;
}

#footer .mcgill-logo {
	width: 150px;
}
